body
{
    background-color:           #112233;
    margin:                     0px;
}

button
{
    border:                     2px solid;
    border-color:               #696 #363 #363 #696;
}

small
{
    font-size:                  80%;
}

/* Everything is inside this thing. */
div.outer
{
    background-color:           #E3F1FF;
    -moz-border-top-colors:     #000 #EEEECC #BBBB99;
    -moz-border-bottom-colors:  #000 #EEEECC #BBBB99;
    -moz-border-left-colors:    #000 #EEEECC #BBBB99;
    -moz-border-right-colors:   #000 #EEEECC #BBBB99;
    border:                     6px solid #000;
    vertical-align:             middle;
    text-align:                 center;
    position:                   relative;
    width:                      1000px;
    height:                     625px;
}

/* Some extra table border styles */
table.outer
{
    background-color:           #EEEECC;
    -moz-border-top-colors:     #999 #777 #f2f2f2;
    -moz-border-bottom-colors:  #999 #777 #f2f2f2;
    -moz-border-left-colors:    #999 #777 #f2f2f2;
    -moz-border-right-colors:   #999 #777 #f2f2f2;
    border:                     4px solid #000;
    width:                      1000px;
    height:                     625px;
    padding:                    8px;
}

/* The map borders */
.map
{
    background-color:           #BBBB99;
    -moz-border-top-colors:     #BBBB99 #999 #f2f2f2;
    -moz-border-bottom-colors:  #BBBB99 #999 #f2f2f2;
    -moz-border-left-colors:    #BBBB99 #999 #f2f2f2;
    -moz-border-right-colors:   #BBBB99 #999 #f2f2f2;
    border:                     2px solid #BBBB99;
    padding:                    8px;
    color:                      #444444;
    font-family:                Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size:                  11px;
    font-weight:                bold;
    line-height:                225%;
}

/* auto-save */
div#auto-save-div
{
    margin-top:                 10px;
    margin-bottom:              10px;
    text-align:                 center;
    font-size:                  80%;
}

/* text entry */
.entry
{
    background-color:           #BBBB99;
    -moz-border-top-colors:     #999 #777 #f2f2f2;
    -moz-border-bottom-colors:  #999 #777 #f2f2f2;
    -moz-border-left-colors:    #999 #777 #f2f2f2;
    -moz-border-right-colors:   #999 #777 #f2f2f2;
    border:                     2px solid #000;
    padding:                    6px;
    color:                      #444444;
    font-family:                Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size:                  11px;
    font-weight:                bold;
    line-height:                225%;
}

/* Advertisement menu */
.ads
{
    background-color:           #DDD;
    -moz-border-top-colors:     #999 #777 #f2f2f2;
    -moz-border-bottom-colors:  #999 #777 #f2f2f2;
    -moz-border-left-colors:    #999 #777 #f2f2f2;
    -moz-border-right-colors:   #999 #777 #f2f2f2;
    border:                     2px solid #000;
    width:                      220;
    height:                     230;
    padding:                    6px;
    color:                      #444444;
    font-family:                Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size:                  11px;
    font-weight:                bold;
    line-height:                225%;
}

/* The graph container. Vertices are absolute w.r.t this. */
div.cell
{
    background-color:           white;
    -moz-border-top-colors:     #999 #777 #f2f2f2;
    -moz-border-bottom-colors:  #999 #777 #f2f2f2;
    -moz-border-left-colors:    #999 #777 #f2f2f2;
    -moz-border-right-colors:   #999 #777 #f2f2f2;
    border:                     2px solid #000;
    vertical-align:             middle;
    text-align:                 center;
    position:                   relative;
    width:                      640px;
    height:                     480px;
}

/* Common to all vertex types. */
div.kv, div.uv, div.tv, div.cv
{
  border: 3px solid;
  font-family: sans-serif;
  font-size: 10pt;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  /*font-variant: small-caps;*/
}

/* A known vertex. */
div.kv
{
    background-color:       #BCEF63;
    border-color:           #85B464;
}

/* An unknown vertex. */
div.uv
{
    background-color:       #EFBC63;
    border-color:           #B48564;
}

/* An unreached theme vertex. */
div.tv
{
    background-color:       #BC63EF;
    border-color:           #8564B4;
}

/* A clue vertex. */
div.cv
{
    background-color:       #EFEF63;
    border-color:           #B4B464;
}

/* A div used for drawing lines. */
div.paint
{
  position: absolute;
  margin: 0;
  padding: 0;
}

/* The div with the hints. */
div#hints-link
{
  text-align: right;
  padding: 2px;
  float: right;
}

/* Meta-puzzle div. */
div#meta-puzzle
{
  float: right;
  clear: right;
  padding: 2px;
  text-align: right;
}

/* Flying star. */
div.star {
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(/static/star.png);
}

/* SVG. */

rect.ff-cell {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}

line.ff-edge {
  stroke: #0000C0;
  stroke-width: 0.5; 
}

/* Common to all vertex types. */
rect.kv, rect.uv, rect.tv, rect.cv {
  stroke-width: 3;
}

rect.kv {
  fill:   #BCEF63;
  stroke: #85B464;
}

rect.uv {
  fill:   #EFBC63;
  stroke: #B48564;
}

rect.tv {
  fill:   #BC63EF;
  stroke: #8564B4;
}

rect.cv {
  fill:   #EFEF63;
  stroke: #B4B464;
}

text.ff-vertex-text {
  font-family: sans-serif;
  font-size: medium;
}

rect.ff-minimap-mask {
  fill: #ddd;
}

rect.ff-minimap-grid {
  fill: #c0c0c0; 
}

rect.ff-minimap-frame {
  fill: rgba(0, 0, 0, 0);
  stroke: #00c;
  stroke-width: 2;
}
