/* Neo-Brutalist Style - Because beauty is overrated. */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background: #333;
	color: #eee;
}

body {
	font-family: "Oswald", serif;
	color: #333;
	margin: 0;
	position: relative;
	line-height: 1.5em;
	font-size: 15px;
	background: url('https://raw.githubusercontent.com/ashloren/the-casual-gamer/refs/heads/main/bg-tile-deco-5.png') repeat;
}
#footer {background:#f7f7f7;
text-align:center;}

.static {text-align:center;}
.dashboard {
	display: grid;
	grid-template-columns: repeat(6, 15.25%);
	grid-gap: 0 1.67%;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid;
	width: 1000px;
	max-width: calc(100% - 40px);
	background: #03e3fc;
	box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px;
}

.dashboard > div {
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f7f7f7;
	border: 2px solid;
	grid-column: 1 / 7;
	box-shadow: inherit;
}

.dashboard > div:hover {
	background: #fff;
	color: black;
}

.dashboard > div:last-of-type {
	margin-bottom: 5px;
}

.table-wrap {
	max-width: 100%;
	overflow-x: auto;
}

h2 {
	font-size: 1.5em;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-top: 0;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid;
	position: relative;
}

h2::before,
h2::after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 15px;
	height: 100%;
	left: -15px;
	border: 2px solid;
	border-left: none;
	vertical-align: text-bottom;
}

h2::after {
	left: unset;
	right: -15px;
	border-right: none;
	border-left: 2px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 2px solid #333;
	padding: 8px;
	text-align: left;
}

tr:hover td {
	background: #eee;
}

th {
	background-color: #666;
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 5px 0;
	border-bottom: 2px solid;
}

.calories div {
	font-size: 1.25em;
	line-height: 1.5em;
	border-bottom: 2px solid;
	padding: 5px 0;
}

.profile {
	text-align: center;
}

.profile h2 {
	font-size: 2em;
	padding-bottom: 10px;
	border: none;
}

.profile p {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 10px;
}

.dashboard .activity-feed li {
	font-style: italic;
}

@media (min-width: 767px) {
	.dashboard .schedule-table {
		grid-column: 1 / 4;
	}
	.dashboard .exercise-table {
		grid-column: 4 / 7;
	}
	.dashboard .calories {
		grid-column: 1 / 5;
	}
	.dashboard .personal-bests {
		grid-column: 5 / 7;
	}
	.dashboard .challenges {
		grid-column: 1 / 3;
	}
	.dashboard .activity-feed {
		grid-column: 3 / 7;
	}
	.calories div {
		width: 100%;
		float: left;
		display: grid;
		border-left: 2px solid;
		padding-left: 10px;
		margin-left: -2px;
		border-bottom: none;
	}
}

/*Close Button Rules*/

.dashboard .profile button {
	display: none;
}

.dashboard button {
	font-family: "Lobster", serif;
	appearance: none;
	border: inherit;
	color: inherit;
	font-family: arial;
	font-size: 24px;
	line-height: 1.1em;
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	text-align: center;
	float: right;
	z-index: 9;
	position: relative;
	background: #eee;
}

.dashboard button:hover {
	background: #666;
	border-color: #666;
	color: white;
}

@media (min-width: 767px) {
	.profile + .personal-bests + div,
	.profile + .exercise-table + div,
	.schedule-table + div {
		grid-column: 4 / 7 !important;
	}
	.profile + .personal-bests,
	.profile + .exercise-table {
		grid-column: 1 / 4;
	}
	.profile + div + div + .personal-bests,
	.profile + .exercise-table + .calories + div {
		grid-column: 1 / 3;
	}
	.profile + div + div + .personal-bests + div,
	.profile + .exercise-table + .calories + div + div {
		grid-column: 3 / 5;
	}
	.profile + div + div + .personal-bests + div + div,
	.profile + .exercise-table + .calories + div + div + div {
		grid-column: 5 / 7;
	}
}

        .snippet-container {
            margin-top: 20px;
        }
        .snippet {
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #f9f9f9;
        }
        input[readonly], textarea[readonly] {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 8px;
            width: 100%;
        }
        textarea {
              width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
        }

        }
        #delete-btn {
           width:150px;height:auto;float:left;padding:3px;font-family: "Lobster", serif;
        }

		
		#save-btn {width:150px;float:left;padding:3px;height:auto;font-family: "Lobster", serif;}
		#search {width:auto;height:auto;float:left;padding:3px;font-family: "Lobster", serif;}
		
		#app-container {
  background: #fff; /* White for a clean container */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

/* Input Section */
#input-container {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
	font-family: "Lobster", serif;
  margin-top: 10px;
  width: 100%;
  background: #007bff; /* Blue button */
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3; /* Darker blue on hover */
}

/* Result Section */
#result {
  margin-top: 20px;
  padding-top:5px;
}

.word-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.word-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.word-header .pronunciation {
  font-size: 14px;
  color: #777;
  font-style: italic;
}

.definition, .example {
  margin-bottom: 15px;
  font-size: 16px;
}

.definition strong, .example strong {
  color: #007bff;
}

.example {
  font-style: italic;
}

/* Responsive Design */
@media (max-width: 600px) {
  #app-container {
    padding: 15px;
  }

  input {
    font-size: 14px;
  }

  button {
	  font-family: "Lobster", serif;
    font-size: 14px;
    padding: 8px;
  }

  .word-header h2 {
    font-size: 18px;
  }
}
.word-type {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555; /* Subtle gray for secondary info */
}
.word-type strong {
  color: #007bff; /* Accent color for labels */
}

canvas {
    font-family: "Lobster", serif;
      border: 1px solid #ccc;
      margin: 20px 0;
    }
    .controls {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
	
	#generate {width:150px;float:left;padding:3px;height:auto;font-family: "Lobster", serif;}
	#save {width:150px;float:right;padding:3px;height:auto;font-family: "Lobster", serif;}
	
	#generate-btn {width:150px;float:left;padding:3px;height:auto;font-family: "Lobster", serif;}
	#download-btn {width:150px;float:right;padding:3px;height:auto;font-family: "Lobster", serif;}
	#qr-code {}
	#checkword {width:150px;float:left;padding:3px;height:auto;font-family: "Lobster", serif;}
	
	#correct-words {
            margin-top: 20px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #correct-words li {
            list-style-type: none;
            margin: 5px;
            padding: 10px;
            background-color: #a8e6ce;
            border-radius: 5px;
        }
		#correct-words li:hover {border:1px outset #a8e6ce;background-color:#f0fff0;}
		        #counter {
            margin-top: 20px;
            font-size: 1.2em;
        }
		
		.audio-player {
	 width: 270px;
	 padding: 35px 20px;
	 margin: auto;
	 background-color: white;
	 border: 1px solid black;
}
 .audio-player .player-controls {
	 position: relative;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .audio-player #radioIcon {
	 width: 30px;
	 height: 30px;
	 background: url("https://img.icons8.com/ios/50/000000/microphone.png") no-repeat center;
	 background-size: contain;
}
 .audio-player #playAudio {
	 -webkit-appearance: none;
	 outline: none;
	 cursor: pointer;
	 border: none;
	 width: 30px;
	 height: 30px;
	 background: url("https://img.icons8.com/play") no-repeat center;
	 background-size: contain;
}
 .audio-player #playAudio.pause {
	 background: url("https://img.icons8.com/pause") no-repeat center;
	 background-size: contain;
}
 .audio-player p {
	 margin: 0 0 0 5px;
	 line-height: 1;
	 display: inline-flex;
}
 .audio-player p small {
	 font-size: 10px;
}
 .audio-player #seekObjContainer {
	 position: relative;
	 width: 300px;
	 margin: 0 5px;
	 height: 5px;
}
 .audio-player #seekObjContainer #seekObj {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 background-color: #e3e3e3;
	 border: 1px solid black;
}
 .audio-player #seekObjContainer #seekObj #percentage {
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 background-color: coral;
}